   .p {
    font-family:'Roboto';
   }

           
body{
    margin:0;
    padding-top:80px;
    padding-left: 96px;
    padding-right:10px;
    background-color: rgb(250, 250, 250);
    
}