
            .header{
                height: 66px;
                display: flex;
                flex-direction: row;
                justify-content:space-between;
                position:fixed;
                top:0;
                right:0;
                left:0;
                background-color:white;
                border-bottom-style: solid;
                border-bottom-width: 1px;
                border-bottom-color: rgb(209, 209, 209);
                z-index:100;
                


                

            }
                

          

            .left-section{
                display:flex;
                align-items: center;
            }
            .hamburger-menu,.youtube-logo{
                height:24px;
                margin-left:24px;
                margin-right:24px;
                
            }

            
            .youtube-logo,.hamburger-menu:hover{
                cursor:pointer;
            }

           
           
                
            .middle-section{
                flex:1;
                margin-left:70px;
                margin-right:35px;
                max-width: 500px;
                display:flex;
                align-items: center;
              
            }

            .search-icon{
                height:38px;
                width:60px;
               background-color: rgb(236, 236, 236);
               border-color:rgb(200, 200, 200);
               border-style:solid;
               border-width:1px;
               margin-left:-1px;
               margin-right: 8px;
               
            }

            .search-icon,
            .voice-search-icon,
            .upload-icon-container{
                display:flex;
                justify-content: center;
                position:relative;
                align-items: center;
            }

            .search-icon:hover{
                cursor:pointer;
            }

            .search-image{
                height:24px;
                width:24px;
            
            }

            .search-icon .tooltip,
            .voice-search-icon .tooltip,
            .upload-icon-container .tooltip{
                font-family: 'Roboto';
                color:white;
                background-color: rgb(130, 130, 130);
                padding-bottom:3px;
                padding-top:3px;
                padding-right:5px;
                padding-left:5px;
                font-size: 13px;
                position:absolute;
                bottom:-30px;
                opacity:0;
                transition:opacity 0.15s;
                pointer-events:none;
                white-space: nowrap;
            }

            .search-icon:hover .tooltip,
            .voice-search-icon:hover .tooltip,
            .upload-icon-container:hover .tooltip{
                opacity:1;
            }



            .voice-search-icon{
                height:40px;
                width:40px;
                border-radius:20px ;
                border:none;
                
            }

            .voice-search-icon:hover{
                background-color: rgb(210, 210, 210);
                cursor:pointer;
            }

            .voice-search-image{
                height:24px;
                width:24px;
                margin-top: 4px;
            }

            .search-bar{
                flex:1;
                height:34px;
                padding-left: 10px;
                font-size: 16px;
                border-width:1px;
                border-style:solid;
                border-color:rgb(200, 200, 200);
                box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
                width:0;
            }

            .search-bar::placeholder{
                font-family:'Roboto';
            }

            .right-section{
                width:180px;
                margin-right:24px;
                display:flex;
                align-items: center;
                justify-content:space-between;
                flex-shrink:0;
                
            }

            .upload,.youtube-apps,.notifications{
                height:24px;
                
            }

            .upload:hover,.youtube-apps:hover,.notifications:hover{
                cursor:pointer;
            }

            .my-channel{
                height:32px;
                width:32px;
                border-radius:16px;
                
            }
            .my-channel:hover{
                cursor:pointer;
            }

            .notification-icon-container{
                position:relative;
            }

            .notification-icon{
                font-family:'roboto';
                position:absolute;
                top:-4px;
                right:-7px;
                background-color:rgb(211, 16, 16);
                color:white;
                padding:2px 5px 2px 5px;
                border-radius:10px;
                font-size:10px;
                text-align:center;
                border-width:2px;
                border-color:white;
                border-style:solid;

            }