  


        .video-grid{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 16px;
            row-gap: 40px;
            margin:5px 16px 0px 16px;
        }

        @media (max-width:750px){
            .video-grid{
                grid-template-columns: 1fr 1fr;

            }

         
        }

        @media(max-width=751px)and (min-width=999px){
             .video-grid{
                grid-template-columns: 1fr 1fr 1fr;

            }

        }

         @media (min-width:1000px){
            .video-grid{
                grid-template-columns: 1fr 1fr 1fr 1fr;

            }

         
        }



        .video-preview{

            padding: 9px 9px 9px 9px;
            border-radius:7px ;
            transition: background-color 0.15s;
        }

        .video-preview:hover{

            background-color:rgb(238, 238, 238);
            
        }

        
        .thumbnail {
                width:100%;
                object-fit: cover;
                border-radius:7px;
                
            
            
        }
        .thumbnail:hover{
            cursor:pointer;

        }

        .thumbnail-row{
            margin-bottom:12px;
            position:relative;
        }

        .video-info-grid{
            display:grid;
            grid-template-columns: 50px 1fr 30px;
        }
      

      

        .profile-picture{
           width:100%;
           border-radius:50%;
           width:40px;
            
           
        }

        .profile-picture:hover{
            cursor:pointer;
        }

        .video-title{
          margin-top: 0px;
            margin-bottom: 9px;
            font-size: 14px;
             font-weight: 700;
             line-height:17px
          
        }

        .video-title,.video-author:hover{
            color: rgb(30, 30, 30);
            cursor:pointer;
        }

        .video-author,
        .video-views    {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 12px;
            color: rgb(96,96,96)
           
        }

        .video-views:hover{
                cursor:text
        }

        .video-author{
            margin-bottom: 4px;
        }

        .video-time{
            background-color: black;
            color:white;
            position:absolute;
            right:5px;
            bottom:10px;
            font-size:13px;
            font-family:'Roboto';
            font-weight:bold;
            padding:2px 4px 2px 4px;
            border-radius:2px;

        

        }
        

        .more-options{

            height:30px;
            border-radius:30px;
           

        }

        .more-options:hover{
            background-color: rgb(218, 220, 221);
            cursor:pointer;
        }